# Title (Group 78 Project Proposal) ** we'll edit in later!

## Introduction

### Background Information

Vancouver is a rainy city with over 1/3rd of the year raining. How much will it rain in a given day, given certain weather factors? According to ___ studies have shown that machine-learning-based forecast systems can predict the weather just as well as conventional numeric weather models, but at a fraction of the cost. We will try to predict the rainfall for a day, in mm, with a knn-regression model built using a ___ dataset. 

We have downloaded a [dataset](https://vancouver.weatherstats.ca/download.html) from ____, which shows climate data for vancouver for the past _____. It contains ___ ____ ____. To identify which variables affect the temperature, we will analyze the data and plot graphs _______.

- (**our research question is..**
- describe why data set is important //)
- briefly describe our approach; ex. using regression to predict actual amount of rainfall and comparing that model to see its accuracy

## Preliminary Explatory Data Analysis

In [14]:
library(tidyverse)
library(testthat)
library(digest)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

Inspecting the data should ___ csv ___ read_csv

In [8]:
rain_data <- read_csv("data/weatherstats_vancouver_daily.csv")
rain_data

Rows: 4000 Columns: 70
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl  (62): max_temperature, avg_hourly_temperature, avg_temperature, min_tem...
lgl   (5): solar_radiation, max_cloud_cover_4, avg_hourly_cloud_cover_4, avg...
date  (1): date
time  (2): sunrise, sunset

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     date       max_temperature avg_hourly_temperature avg_temperature
1    2022-10-25  9.9            8.86                    8.69
2    2022-10-24 13.3            9.51                   10.35
3    2022-10-23 11.9            8.70                    7.60
⋮    ⋮          ⋮               ⋮                      ⋮
3998 2011-11-15 7.8             3.44                   3.80
3999 2011-11-14 7.6             5.92                   6.00
4000 2011-11-13 8.7             6.71                   6.55
     min_temperature max_humidex min_windchill max_relative_humidity
1    7.5             NA          NA            100
2    7.4             NA          NA            100
3    3.3             NA          NA            100
⋮    ⋮               ⋮           ⋮             ⋮
3998 -0.2            NA          NA            91
3999  4.4            NA          NA            93
4000  4.4            NA          NA            94
     avg_hourly_relative_humidity avg_relative_humidity ⋯ avg_cloud_cover_4
1    97.5                         93.5                  ⋯ NA
2    94.5                         86.0                  ⋯ NA
3    89.3                         83.0                  ⋯ NA
⋮    ⋮                            ⋮                     ⋱ ⋮
3998 79.8                         77.5                  ⋯ NA
3999 69.6                         73.5                  ⋯ NA
4000 86.4                         85.0                  ⋯ NA
     min_cloud_cover_4 max_cloud_cover_8 avg_hourly_cloud_cover_8
1    NA                8                 8.0
2    NA                8                 6.4
3    NA                8                 6.9
⋮    ⋮                 ⋮                 ⋮
3998 NA                NA                NA
3999 NA                NA                NA
4000 NA                NA                NA
     avg_cloud_cover_8 min_cloud_cover_8 max_cloud_cover_10
1    7.5               7                 NA
2    4.5               1                 NA
3    4.5               1                 NA
⋮    ⋮                 ⋮                 ⋮
3998 NA                NA                NA
3999 NA                NA                NA
4000 NA                NA                NA
     avg_hourly_cloud_cover_10 avg_cloud_cover_10 min_cloud_cover_10
1    NA                        NA                 NA
2    NA                        NA                 NA
3    NA                        NA                 NA
⋮    ⋮                         ⋮                  ⋮
3998 NA                        NA                 NA
3999 NA                        NA                 NA
4000 NA                        NA                 NA

Taking a glimpse of our data shows that it is __tidy. We will remove the dew_point column since dew point is just a calculation involving __, __, __

### Wrangling

We start by wrangling the data into a ___ format. ___ says that the three factors that influence rain primarily are **temperature, humidity, and windspeed**. Our dataset provides **daily averages** for each.

We filter out rows !!! where measurements are NA, because this could affect the knn algorithm’s accuracy? Since we have over ___ and only a few columns have NA, this should not bias our model too much.

In [13]:
rain_data |> 
            filter(rain>0)|>
            select(date, avg_temperature, avg_relative_humidity, avg_wind_speed, rain) |> 
            mutate(rain_flag = (rain > 0))

     date       avg_temperature avg_relative_humidity avg_wind_speed rain
1    2022-10-24 10.35           86.0                  18.5           13.0
2    2022-10-23  7.60           83.0                   9.5            6.7
3    2022-10-22  9.05           85.5                   6.5            0.2
⋮    ⋮          ⋮               ⋮                     ⋮              ⋮
1756 2011-11-18 1.95            91.5                   9.5            1.2
1757 2011-11-17 4.39            75.5                  24.0            1.4
1758 2011-11-16 4.15            83.5                  24.0           11.8
     rain_flag
1    TRUE
2    TRUE
3    TRUE
⋮    ⋮
1756 TRUE
1757 TRUE
1758 TRUE

### HEADING VISUALIZATION

In [12]:
options(repr.plot.width = 8, repr.plot.height = 7)
small_weather <- slice_sample(weather, n = 100)

ERROR: Error in slice_sample(weather, n = 100): object 'weather' not found

In [6]:
rain_split <- initial_split(rain_data, 0.75, strata = rain)
rain_training <- training(rain_split)
rain_testing <- testing(rain_split)
rain_training

ERROR: Error in eval_select_impl(NULL, .vars, expr(c(!!!dots)), include = .include, : object 'rain_data' not found

## Methods

In [ ]:
We start by splitting our data into training and testing data, and ensure we have an even distribution of rainfall values.

## Expected Outcomes and Significance

(quick rough draft notes to think about : )
- expected that rainfall will fall heavier in winter months rather than the summer
(there would be a strong relationship between day of the year and rainfall amount)
- temperature is another indicator of rain? the lower the temp the higher chance/amount of rain
- extension : impacts of climate change over the recent years